/* universal styles */

html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica, sans-serif;
}

.box {
  width: 960px;
  margin: 0 auto;
}

/* heading and banner */

.header {
  display: flex;
  width: 100%;
  height: 30rem;
  font-family: Helvetica;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../resources/tortoise-images/glasses-bg.png');
}

/* the top box in the header */

.top {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  padding: 1rem 2rem;
  top: 1rem;
  font-size: 1rem;
}

.logo {
  display: flex;
  align-items: center;
}

.top img {
  height: 1.5rem;
  margin-right: 1rem;
}

nav span {
  margin-right: 2rem;
}
